.app-main {
    min-height: 900px;
    background-color: rgba(95, 158, 160, 0.63);
    padding-top: 200px;
}
.app-main-content .main-header {
    padding-bottom: 65px;
}
.app-main-content .title {
    font-size: 2.5rem;
}
.cards-container {
    /* background-image: url("../../img/logo.svg"); */
}
.card {
}

@media (max-width: 450px) {
}
