@font-face {
    font-family: poppins-medium;
    src: url("../assets/fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
    font-family: poppins-bold;
    src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
}
