$clr1: #34313d;
$clr2: #3a3054;
$clr3: #4b3f6b;
$clr4: #9e9aa8;
$clr5: #eff1f7;
$clr6: #2bd0d0;
// LAYOUT BREAKPOINTS
// $break-normal: 750px;
// $break-normal-wide: 860px;

// $break-mobile: 440px;
// $break-max-narrow: 550px;
// $break-narrow: 750px;
// $break-normal: 950px;

$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1100px;
